table, th, td {
  border:1px solid black;
  border-collapse:collapse;
  background-color:#ffdab9;
  margin: auto;
  box-shadow: 5px 10px;
}
h1 {
  color:white;
  font-size: 100px;
} 
button {
  color:red;
  font-size: 30px;
}
button.updown {
  width: 90px;
  display: block;
  margin: auto;
}
input {
  font: 25px "Helvetica", "Arial", "sans-serif";
  color:green;
}

div {
  font-size: 30px
}

div.temp {
  font-size: 60px
}

select{
  font-size:30px;
}